@charset "UTF-8";

.page-header-md {
  padding: 80px 20px;
  background-color: #EAF5E9;
  text-align: center;
}

.page-title {
  line-height: 1.5;
}

.page-title__sub {
  display: block;
  font-family: 'Oswald',sans-serif;
  font-size: 20px;
  color: #37952f;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.page-title__main {
  display: block;
  font-size: 30px;
  letter-spacing: 0.2em;
}

.page-header-md__lead {
  margin-top: 40px;
  line-height: 1.5;
}

.heading-lv3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}

.heading-lv3::after {
  content: "";
  display: block;
  width: 50px;
  margin-top: 20px;
  border: 1px solid #37952f;
}

.section p {
  line-height: 1.5;
}

tbody {
  display: block;
}

.contactTable {
  display: block;
  width: 100%;
  border-bottom: 1px dashed #ccc;
}

.contactTable tr {
  display: block;
  width: 100%;
  height: auto;
  border-top: 1px dashed #ccc;
}

.contactTable th {
  display: block;
  width: 100%;
  padding: 20px 0 0 0;
  text-align: left;
}

.inputLabel {
  font-size: 18px;
  font-weight: normal;
}

.require {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 3px;
  padding: 3px 10px;
  background: #37952F;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  vertical-align: middle;
}

.contactTable td {
  display: block;
  padding: 10px 0 20px 0;
}

.selectWrap {
  position: relative;
}

.selectWrap::after {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(45deg);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
textarea,
select {
  appearance: none;
  width: 100%;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  box-sizing: border-box;
}

.inputSubLabel {
  display: block;
  margin-bottom: 5px;
}

.nameLayout >* + * {
  margin-top: 10px;
}

.inputNote {
  margin-top: 10px;
  color: #707070;
  font-size: 12px;
}

.radioList_hr {
  display: flex;
  list-style: none;
}

input[type="radio"]+span,
input[type="checkbox"]+span {
  display: inline-block;
  position: relative;
  margin: 0 32px 0 0;
  padding: 5px 5px 5px 15px;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
}

.privacyBox {
  margin: 50px 0;
  padding: 20px;
  border: 1px solid #ccc;
}

.privacyBox a {
  color: #37952F;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.privacyBox__check {
  margin-top: 20px;
  text-align: center;
}

.button {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  width: 100%;
  border: 2px solid transparent;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  transition: 0.3s;
  cursor: pointer;
}

.button--lg {
  max-width: 400px;
  padding: 20px;
  font-size: 18px;
}

/*透過*/
.button--ghost {
  border: 2px solid #fff;
  color: #fff;
}
.button--ghost:hover,
.button--ghost:focus {
  background: rgba(255,255,255,0.3);
  color: #fff;
}

/*Action*/
.button--action {
  background: #FF7600;
  color: #fff;
}

.button--action:hover,
.button--action:focus {
  opacity: 0.7;
  color: #fff;
}

.button--disabled,
.button[disabled] {
  background: #ccc;
  color: #fff;
  opacity: 1;
  cursor: default;
}

.breadcrumb {
  display: none;
}

/*フォーカス時//*/
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
textarea:focus,
select:focus,
input[type="number"],
input[type="password"] {
  outline: none;
  box-shadow: 0 0 5px rgba(55,149,47,0.7);
}
/*//フォーカス時*/

/*エラーメッセージ//*/
.errorText {
  display: none;
  align-items: center;
  margin-top: 16px;
  color: #df5656;
  font-weight: bold;
}
.inputField.is-error .errorText {
  display: block;
}
.errorText::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background: url(../img/icon_attention.svg) center center / contain no-repeat;
  vertical-align: middle;
}
/*//エラーメッセージ*/

/*----------------------------------------
	送信ボタン//
----------------------------------------*/

.formBtns {
  display: flex;
  justify-content: center;
}

.buttonAction {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  margin: 0;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  border: 2px solid #FF7600;
  background: #FF7600;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.2em;
  transition: opacity 0.3s, color 0.3s;
  cursor: pointer;
}
.buttonAction:hover {
  opacity: 0.7;
}

/*----------------------------------------
	//送信ボタン
----------------------------------------*/

/* PC */
@media (min-width: 1024px), print {

  .page-header-md {
    padding: 100px 0;
  }

  .page-title__sub {
    font-size: 24px;
  }

  .page-title__main {
    font-size: 48px;
  }

  .page-header-md__lead {
    margin-top: 50px;
  }

  .heading-lv3 {
    font-size: 28px;
  }

  .section__title {
    margin-bottom: 40px;
  }

  .contactTable {
    display: table;
  }

  .contactTable tbody {
    display: table-row-group;
    width: 100%;
  }

  .contactTable tr {
    display: table-row;
    height: 100px;
  }

  .contactTable th {
    display: table-cell;
    width: 32.4%;
    padding: 20px 40px 20px 0;
    vertical-align: middle;
  }

  .inputLabel {
    display: flex;
    justify-content: space-between;
  }

  .contactTable td {
    display: table-cell;
    padding: 20px 0;
    vertical-align: middle;
  }

  .nameLayout {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nameLayout > * {
    width: 48%;
  }

  .nameLayout >* + * {
    margin-top: 0;
  }

  .privacyBox {
    margin: 80px 0;
    padding: 40px;
    text-align: center;
  }

  .privacyBox__check {
    margin-top: 50px;
  }

  .button-center {
    text-align: center;
  }

  .breadcrumb {
    display: block;
    padding: 15px 50px;
    background-color: #eee;
  }

  .breadcrumb__list {
    list-style: none;
  }

  .breadcrumb__list li {
    display: inline-block;
    font-size: 12px;
  }

  .breadcrumb__list a{
    color: #37952f;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
  }

  .breadcrumb__list a:hover {
    color: #70cc33;
    text-decoration: none;
  }

  .breadcrumb a[aria-current] {
    color: inherit;
    text-decoration: none;
  }

  .breadcrumb__list li:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 3px;
    border-top: 1px solid;
    border-right: 1px solid;
    transform: rotate(45deg);
  }

}

/* タブレット */
@media (min-width: 768px), print {

  .page-title__main {
    font-size: 36px;
  }

  .button-center {
    text-align: center;
  }

}